/* project */
.blog-wrap {
  padding-top: 12px;
}

.tag-wrap {
  display: flex;
  justify-content: center;
}

.tag-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.tag-list {
  margin: .2rem;
}

.project-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.project-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  width: calc((100% / 3) - 2rem);
}
.project-card:hover {
  cursor: pointer;
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
@media screen and (max-width: 1200px) {
  .project-card {
    width: calc((100% / 2) - 2rem);
  }
}
@media screen and (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}

.links-wrap {
  margin-top: 1rem;
}

.project-btn-wrap {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

/* about */
.personal-img {
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.personal-img:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}

/* nav */
@media screen and (max-width: 1200px) {
  .personal-img {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 768px) {
  .nav-logo {
    width: 220px;
  }
}

@media screen and (max-width: 480px) {
  .personal-img {
    width: 90%;
    height: 320px;
  }
}