.footer {
  height: 9rem;
  text-align: center;
  display: grid;
  place-items: center;
}
.footer h4 {
  margin-top: 0.5rem;
  color: var(--blue-dark);
  font-weight: normal;
}
.footer h4 span {
  color: var(--clr-primary-5);
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  color: var(--blue-dark);
}
.footer .social-link:hover {
  color: var(--clr-primary-5);
}
