.projects-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-tab {
  span {
    margin-right: 1rem;
  }
}

.tags-tab {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  padding: 0 2rem;
  max-width: 600px;
}

.tag-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-alpha-25);
  border:1px solid var(--white-alpha-40);
  padding: 4px 10px;
  border-radius: 10px;
  color: var(--main-color);
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  margin: 1rem 0.5rem 0 0;

  svg {
    margin-right: 6px;
  }

  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
  }

  &:hover::before {
    width: 100%;
  }
  &:hover {
    color: var(--white);
  }
}

.tag-btn-active {
  color: var(--white);
  background-color: var(--main-color);
}
